<nav class="navbar">
  
  <!-- LOGO -->
  <div class="navbar-left">
    <a href="../Home/index.html" class="navbar-logo">
      <img src="../assets/img/logo.svg" alt="Cirurgic3D" />
    </a>
  </div>

  <!-- MENU CENTRAL -->
  <ul class="navbar-menu">
    <li>
      <a href="../Home/index.html" class="nav-link active">
        Casos Clínicos
      </a>
    </li>
    <li>
      <a href="../Escores/index.html" class="nav-link">
        Escores Clínicos
      </a>
    </li>
  </ul>

  <!-- PERFIL -->
  <div class="navbar-right">
    <div class="user-menu">
      <span class="user-name">Dr. Silva</span>
      <img
        src="../assets/img/avatar.png"
        alt="Usuário"
        class="user-avatar"
      />
    </div>
  </div>

</nav>
